In [44]:
import pandas as pd
import numpy as np
import datetime as dt

In [181]:
cc_dates_file = "Resources/Traffic_Crashes_Chicago_Dates_2017-2018.csv"
cc_dates_df = pd.read_csv(cc_dates_file, encoding="ISO-8859-1")
type(cc_dates_df['CRASH_DATE'])

pandas.core.series.Series

In [182]:
cc_dates_df['date'] = pd.to_datetime(cc_dates_df['CRASH_DATE'])
cc_dates_df['month'] =  cc_dates_df['date'].dt.month
cc_dates_df['year'] =  cc_dates_df['date'].dt.year 

test_df = cc_dates_df.groupby(['year','month']).count()

cc_dates_df.dtypes
# test_df
# cc_dates_df

CRASH_DATE            object
date          datetime64[ns]
month                  int64
year                   int64
dtype: object

In [183]:
cc_dates_df['CRASH_DATE'] = pd.to_datetime(cc_dates_df['CRASH_DATE'])
cc_dates_df.columns = ['Dates','Crashes','month','year']
cc_month_sum_df = cc_dates_df.drop(['month','year'], axis=1)
cc_month_sum_df

            Dates    Crashes
0      2018-12-31 2018-12-31
1      2018-12-31 2018-12-31
2      2018-12-31 2018-12-31
3      2018-12-31 2018-12-31
4      2018-12-31 2018-12-31
...           ...        ...
408558 2017-01-01 2017-01-01
408559 2017-01-01 2017-01-01
408560 2017-01-01 2017-01-01
408561 2017-01-01 2017-01-01
408562 2017-01-01 2017-01-01

[408563 rows x 2 columns]

In [186]:
# cc_dates_index_df = cc_month_sum_df.set_index('Dates')
# cc_month_sum_df = cc_dates_index_df.groupby(pd.Grouper(freq='MS')).count()   ## !IMPORTANT pd.Grouper uses the index as the groupby column

# len(cc_month_sum_df)
# cc_month_sum_df.dtypes

# cc_month_sum_df.to_csv("Resources/Chicago_Monthly_Traffic_Crashes_2017-2018.csv", index=True, header=True)

cc_dates_index_df = cc_month_sum_df.set_index('Dates')
cc_day_sum_df = cc_dates_index_df.groupby(pd.Grouper(freq='D')).count()   ## !IMPORTANT pd.Grouper uses the index as the groupby column
# cc_day_sum_df = cc_month_sum_df.reset_index(drop=True)
cc_day_sum_df
# cc_day_sum_df.to_csv("Resources/Chicago_Daily_Traffic_Crashes_2017-2018.csv", index=True, header=True)

            Crashes
Dates
2017-01-01      279
2017-01-02      227
2017-01-03      281
2017-01-04      201
2017-01-05      254
...             ...
2018-12-27      610
2018-12-28      569
2018-12-29      822
2018-12-30      534
2018-12-31      756

[730 rows x 1 columns]