In [12]:
import pandas as pd
import numpy as np

In [26]:
file_one = "Resources/Traffic_Crashes_Vehicles_2017-2018.csv"
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df.head()

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,555905.0,JC101797,12/31/2018 23:58,1.0,DRIVER,NaN,530489.0,NaN,HYUNDAI,ELANTRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,555906.0,JC101797,12/31/2018 23:58,2.0,DRIVER,1.0,530491.0,NaN,UNKNOWN,UNKNOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,555080.0,JC100021,12/31/2018 23:55,1.0,DRIVER,NaN,529683.0,NaN,CADILLAC,STS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,555081.0,JC100021,12/31/2018 23:55,2.0,DRIVER,NaN,529689.0,NaN,NISSAN,NISSAN MAXIMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,555093.0,JC100053,12/31/2018 23:53,1.0,DRIVER,NaN,529696.0,NaN,SUBARU,SUBARU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# file_one_df[["CRASH_UNIT_ID", "CRASH_DATE", "UNIT_TYPE", "VEHICLE_ID", "CMRC_VEH_I", \
#              "MAKE", "MODEL", "LIC_PLATE_STATE", "VEHICLE_YEAR", "VEHICLE_TYPE", \
#              "TRAVEL_DIRECTION", "MANEUVER", "EXCEED_SPEED_LIMIT_I", "FIRST_CONTACT_POINT"]].head()

# df = df.drop(~df.columns[[0, 1, 3]], axis=1) 
# df.drop(columns=['column_a', 'column_c'])
file_one_df = file_one_df.drop(columns=['RD_NO', 'UNIT_NO', 'NUM_PASSENGERS', 'VEHICLE_DEFECT',\
       'VEHICLE_USE', 'TOWED_I', 'FIRE_I',\
       'OCCUPANT_CNT', 'TOWED_BY', 'TOWED_TO',\
       'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I',\
       'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I',\
       'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I',\
        'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO',\
       'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME', 'CARRIER_STATE',\
       'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO',\
       'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO',\
       'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I',\
       'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I',\
       'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH',\
       'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG',\
       'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',\
       'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'], axis=1) 

file_one_df.columns

Index(['CRASH_UNIT_ID', 'CRASH_DATE', 'UNIT_TYPE', 'VEHICLE_ID', 'CMRC_VEH_I',
       'MAKE', 'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_TYPE',
       'TRAVEL_DIRECTION', 'MANEUVER', 'EXCEED_SPEED_LIMIT_I',
       'FIRST_CONTACT_POINT'],
      dtype='object')

In [32]:
file_one_df = file_one_df.drop(file_one_df.index[408563:517303])
file_one_df.to_csv("Resources/Traffic_Crashes_Chicago_redux_2017-2018.csv", index=False, header=True)

In [48]:
file_one_redux = "Resources/Traffic_Crashes_Chicago_redux_2017-2018.csv"
file_one_redux_df = pd.read_csv(file_one_redux, encoding="ISO-8859-1")

In [49]:
file_one_redux_df.columns
file_one_redux_df = file_one_redux_df.drop(columns=['CRASH_UNIT_ID', 'VEHICLE_ID', 'CMRC_VEH_I',
       'FIRST_CONTACT_POINT'], axis=1)

In [51]:
test_df = file_one_redux_df.groupby(file_one_redux_df['CRASH_DATE']).sum()
test_df

               VEHICLE_YEAR
CRASH_DATE
1/1/2017 0:01        2016.0
1/1/2017 0:10        4030.0
1/1/2017 0:15        4024.0
1/1/2017 0:26        4017.0
1/1/2017 0:30        8043.0
...                     ...
9/9/2018 9:00       18094.0
9/9/2018 9:05        4026.0
9/9/2018 9:15        4016.0
9/9/2018 9:20        4026.0
9/9/2018 9:45        4028.0

[126128 rows x 1 columns]

In [43]:
chicago_crash_dates_df = file_one_redux_df.drop(columns=['UNIT_TYPE', 'MAKE', 'MODEL', 'LIC_PLATE_STATE',
       'VEHICLE_YEAR', 'VEHICLE_TYPE', 'TRAVEL_DIRECTION', 'MANEUVER',
       'EXCEED_SPEED_LIMIT_I'], axis=1) 
chicago_crash_dates_df

              CRASH_DATE
0       12/31/2018 23:58
1       12/31/2018 23:58
2       12/31/2018 23:55
3       12/31/2018 23:55
4       12/31/2018 23:53
...                  ...
408558     1/1/2017 0:15
408559     1/1/2017 0:10
408560     1/1/2017 0:10
408561     1/1/2017 0:01
408562     1/1/2017 0:01

[408563 rows x 1 columns]

In [44]:
chicago_crash_dates_df.to_csv("Resources/Traffic_Crashes_Chicago_Dates_2017-2018.csv", index=False, header=True)

In [46]:
chicago_crash_dates_df = chicago_crash_dates_df.groupby(chicago_crash_dates_df['CRASH_DATE']).count()
chicago_crash_dates_df

KeyError: 'CRASH_DATE'