In [17]:
import pandas as pd
import os
import json

In [28]:
chicago_final_df = pd.read_json('C:\\Users\\JS\\repos\\ETL-Project\\etl_project\\chicago_final.json')

In [29]:
chicago_final_html = chicago_final_df.T

In [30]:
chicago_final_html.to_html('chicago_data.html')

In [31]:
chicago_final_html

,Dates,Robbery,Assault,Sexual Assault,max_temp,min_temp,winds,Crashes,Total Visitors
0,2017-01,1075,1373,154,32.195,27.7893,4.01882,8670,668436
1,2017-02,787,1295,124,39.1882,35.3337,4.34375,8274,629435
2,2017-03,783,1486,105,42.0429,36.3647,4.95565,10220,727423
3,2017-04,851,1638,146,57.3875,50.45,4.58611,10114,688882
4,2017-05,903,1853,133,61.4305,54.6248,4.41935,11727,781547
5,2017-06,981,1857,117,75.2872,68.7497,3.82222,12561,781547
6,2017-07,1004,1821,162,77.2878,70.77,3.02554,13789,981783
7,2017-08,1174,1739,159,73.3671,66.9776,2.95565,15625,858367
8,2017-09,1002,1786,145,71.5918,64.2293,3.13472,18485,696164
9,2017-10,1119,1628,148,59.9367,54.8053,3.93683,20385,737518
10,2017-11,1128,1454,123,43.2989,37.6289,3.96389,19329,663545
11,2017-12,1072,1374,119,30.4526,24.9292,4.22446,20547,586933
12,2018-01,898,1416,111,27.8734,21.6375,4.55436,19259,628850
13,2018-02,636,1355,113,32.7013,25.9486,3.99554,17423,588219
14,2018-03,738,1618,116,39.2462,33.597,4.02419,18777,792718
15,2018-04,693,1641,118,44.4906,37.7581,3.98333,19548,715800
16,2018-05,802,2036,149,69.7303,61.4851,3.04301,21614,681893
17,2018-06,858,1878,150,75.0117,67.6617,3.13889,21467,719255
18,2018-07,876,1943,152,78.3345,71.5434,2.86022,20765,752548
19,2018-08,942,1849,152,78.2206,71.641,2.9207,20518,794686
20,2018-09,768,1814,155,71.8808,65.2468,3.34722,19874,700404
21,2018-10,837,1716,146,55.5253,49.5623,3.59274,20756,804583
22,2018-11,787,1542,140,37.6119,32.8547,3.84028,18816,709926
23,2018-12,845,1590,130,35.9256,30.6212,3.91123,20020,572282